body, html {
    background: rgb(15,15,15);
    background: linear-gradient(135deg, rgba(15,15,15,1) 0%, rgba(8,8,8,1) 100%);
    color: #e4e4e4;
    font-family: helvetica;
    overflow: hidden;
    margin: 0;
    width: 100vw;
    height: 100vh;
    transition: opacity 250ms;
}

.topBar {
    width: 100vw;
    height: 11vh;
    background-color: #070707;
    border-radius: 0 0 10px 10px;
    position: absolute;
    transition: opacity 500ms;
    display: flex;
    align-items: center;
    justify-content: right;
}

.topBar button {
    width: 15vw;
    height: 8vh;
    margin-right: 3vw;
    border: #000000 solid 3px;
    background-color: #030303;
    color: #e4e4e4;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 250ms;
    transform-origin: center;
    font-size: 2.5vmax;
}

.cards {
    position: absolute;
}

.card {
    position: absolute;
    top: calc(50vh - 17.2395833334vmax);
    left: calc(50vw - 12.5vmax);
    width: 25vmax;
    height: 34.4791666667vmax;
    background-color: rgba(57, 57, 57, 0.6);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    text-align: center;
}

.card h1 {
    font-size: 3vmax;
}

.card p {
    font-size: 1.4vmax;
}

.tip {
    position: absolute;
    transition: opacity 500ms;
    bottom: 5vh;
    text-align: center;
    width: 100vw;
    font-size: 1.5vmax;
}